<div class="d-flex justify-content-center text-center">
  <div class="card" style="width: 37.5rem">
    <div class="card-body">
      <h3 class="card-title">Conversor de medidas</h3>

      <div class="mt-5 container">
        <div class="input-group">
          <app-input></app-input>
          <app-select></app-select>
        </div>
      </div>
      <div class="mt-4 container">
        <div class="input-group">
          <app-input></app-input>
          <app-select></app-select>
        </div>
      </div>
    </div>
  </div>
</div>
